h1 {
    text-align:center;
    background-color: rgba(252, 252, 252, 0.911);
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: rgb(255, 0, 0);
}
.imagem1 {
    width: 200px;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    background-color: rgb(252, 244, 244)

}
.brilho {
   color: rgb(247, 247, 247);
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }
